<form class="border p-3 rounded-3">
    <div class="row g-0">
        <div class="col text-center p-2 mb-3 bg-light">
            <span class="fs-3">Reservation</span>
        </div>
    </div>
    <div class="row">
    <div class="col ps-3 mb-3">
        <label for="Room Type" class="form-label">Room Type</label>
        <select formControlName="Room Type">
            <option [ngValue]="null" disabled>Select Type</option>
            <option *ngFor="let types of type" [ngValue]="types.id">{{types.name}}</option>
          </select>
    </div>
    <div class="col ps-3 mb-3">
        <label for="Room Number" class="form-label">Room ID</label>
        <select formControlName="Room Number">
            <option [ngValue]="null" disabled>Select Number</option>
            <option *ngFor="let numbers of number" [ngValue]="numbers.id">{{numbers.name}}</option>
          </select>
    </div>
    </div>
    <div class="col mb-3">
     <label for="date" class="form-label">From</label>
    <input
    id="requestdate" 
    type="date" 
    class="form-control" 
    formControlName="requestdate" />
    </div>
    <div class="col mb-3">
        <label for="date" class="form-label">To</label>
       <input
       id="requestdate" 
       type="date" 
       class="form-control" 
       formControlName="requestdate" />
       </div>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="d-grid">
                <button type="submit" [disabled]="false" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>