<div class="reservation">
<form class="border p-3 rounded-3" [formGroup]="ReservationForm" (ngSubmit)="Submited()">
    <div class="row g-0">
        <div class="col text-center p-2 mb-3">
            <span class="fs-3">Reservation</span>
        </div>
    </div>
    <div class="row">
    <div class="col ps-3 mb-3">
        <label for="roomType" class="form-label">Room Type</label>
        <select formControlName="roomType">
            <option [ngValue]="null" disabled>Select Type</option>
            <option *ngFor="let types of type" [ngValue]="types.id">{{types.name}}</option>
          </select>
    </div>
    <div class="col ps-3 mb-3">
        <label for="roomID" class="form-label">Room ID</label>
        <select formControlName="roomID">
            <option [ngValue]="null" disabled>Select Number</option>
            <option *ngFor="let numbers of number" [ngValue]="numbers.id">{{numbers.name}}</option>
          </select>
    </div>
    </div>
    <div class="col mb-3">
     <label for="requestdate" class="form-label">From</label>
    <input id="requestdate" type="date" class="form-control" 
    formControlName="fromDate" />
    </div>
    <div class="col mb-3">
        <label for="requestdate" class="form-label">To</label>
       <input
       id="requestdate" 
       type="date" 
       class="form-control" 
       formControlName="toDate" />
       </div>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="d-grid">
                <button  class="btn btn-primary" (click)="onclick()">Submit</button>
            </div>
            <div [ngClass]="[btnStyle]">{{value}}</div>
        </div>
    </div>
</form>
<a routerLink="/cancellation" routerLinkActive="active">Click here</a>
    <label for="Cancellation" class="form-label">, to cancel a reservation.</label>
</div>

<nav>
    <br>
    <a routerLink="/login" routerLinkActive="active">Click here</a>
    <label for="log-out" class="form-label">, to log-out.</label>
</nav>